<div class="footer-container"></div>
<footer>
  <section class="footer-main">
    <div class="footer-main-item">
      <h2 class="footer-title">Copyright Creative Workers</h2>
    </div>

    <div class="footer-main-item">
      <h2 class="footer-title">Privacy</h2>
      <h2 class="footer-title">Terms</h2>
      <h2 class="footer-title">Cookies</h2>
      <h2 class="footer-title">More</h2>
    </div>
    <div class="footer-main-item">
      <h2 class="footer-title">Kissmybutton &copy; 2022</h2>
    </div>
  </section>
</footer>
